<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thermworksheet</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href=../assets/css/defects.css>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script type="module" src="../assets/js/defects.js" defer></script>
</head>
<body class="container-fluid w-100 bg-color-background p-0">
<header class="row p-0 m-0">
    <div class="col-8 p-0 m-0 ps-2 pe-1">
        <button type="button" name="new" id="new" class="btn bg-color-black text-white rounded w-100 my-2">Nuevo Defecto</button>
    </div>
    <div class="col-4 p-0 m-0 ps-1 pe-2 my-2">
        <button type="button" name="back" id="back" class="btn bg-color-green text-white border-1 w-100 rounded">Atrás</button>
    </div>
</header>
<nav class="row d-flex flex-column bg-color-blue py-2 pb-2 pt-3 mx-2 rounded">
    <div class="col mb-2">
        <label for="position" class="form-label d-none"></label>
        <input type="text" class="form-control" id="position" aria-describedby="id" placeholder="Posición" disabled>
    </div>
    <div class="col mb-2">
        <label for="element" class="form-label d-none"></label>
        <input type="text" class="form-control" id="element" aria-describedby="element" placeholder="Elemento" disabled>
    </div>
    <div class="col mb-2">
        <label for="point" class="form-label d-none"></label>
        <input type="text" class="form-control" id="point" aria-describedby="point" placeholder="Punto" disabled>
    </div>
    <div class="col mb-2">
        <label for="fase" class="form-label d-none"></label>
        <input type="text" class="form-control" id="fase" aria-describedby="fase" placeholder="Fase" disabled>
    </div>
</nav>
<main class="row">
    <section class="col m-2">
        <table class="table table-striped">
            <thead class="position-relative">
            <tr class="text-center table-secondary position-sticky sticky-top">
                <th>Id</th>
                <th>Fecha</th>
                <th>Viento</th>
                <th>Emiss</th>
                <th>T</th>
                <th>Tref</th>
                <th>Tamb</th>
                <th>Tref</th>
                <th>Imax</th>
                <th>Ir</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table"></tbody>
        </table>
    </section>
</main>
</body>
</html>