<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thermworksheet</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href=../assets/css/operator.css>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js" defer></script>
    <script type="module" src="../assets/js/operator.js" defer></script>
</head>
<body class="bg-color-marron">
<main>
    <div id="spinnerOperator"
         class="vw-100 vh-100 d-flex justify-content-center align-items-center bg-color-background">
        <div class="spinner-border text-color-green" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <div class="ms-3 fw-bold fs-3 text-color-marron">Cargando...</div>
    </div>
    <div id="operator" class="container-fluid container-xxl d-none flex-column h-100 bg-color-background">
        <div class="row d-block d-md-none">
            <div class="col-12 col-xxl-2">
                <button type="button" name="exit"
                        class="w-100 btn bg-color-green text-white btn-lg px-5 border-color-black mx-0 exit">Cerrar
                    sesión
                </button>
            </div>
        </div>
        <div class="row mb-1 mt-2">
            <div class="col-12 col-md-3 col-xl-2 col-xxl-2 mb-1 mb-md-0">
                <button id="client" name="client" class="w-100 btn bg-color-black text-white position-relative"
                        data-bs-toggle="modal"
                        data-bs-target="#modalClients">Cliente
                    <span id="spinnerClientsButton"
                          class="spinner-grow spinner-grow-sm d-none position-absolute top-50 start-0 translate-middle ms-3"
                          role="status" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-12 col-md-3 col-xl-2 col-xxl-2 mb-1 mb-md-0">
                <button id="installation" name="installation"
                        class="w-100 btn bg-color-black text-white position-relative"
                        data-bs-toggle="modal" data-bs-target="#modalInstallations">Instalación
                    <span id="spinnerInstallationsButton"
                          class="spinner-grow spinner-grow-sm d-none position-absolute top-50 start-0 translate-middle ms-3"
                          role="status" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-12 col-md-3 col-xl-2 col-xxl-2 mb-1 mb-md-0">
                <button id="location" name="location" class="w-100 btn bg-color-black text-white position-relative pe-2"
                        data-bs-toggle="modal"
                        data-bs-target="#modalLocations">Localización
                    <span id="spinnerLocationsButton"
                          class="spinner-grow spinner-grow-sm d-none position-absolute top-50 start-0 translate-middle ms-3"
                          role="status" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-12 col-md-3 col-xl-2 col-xxl-2 mb-1 mb-md-0">
                <button id="position" name="position" class="w-100 btn bg-color-black text-white position-relative"
                        data-bs-toggle="modal"
                        data-bs-target="#modalPositions">Posición
                    <span id="spinnerPositionsButton"
                          class="spinner-grow spinner-grow-sm d-none position-absolute top-50 start-0 translate-middle ms-3"
                          role="status" aria-hidden="true"></span>

                </button>
            </div>
            <div class="col-12 col-md-3 col-xl-2 col-xxl-2 mb-1 mb-md-0 d-none d-xl-block">
                <button id="user" name="user" class="d-none w-100 btn bg-color-black text-white position-relative"
                        data-bs-toggle="modal"
                        data-bs-target="#modalUsers">Usuarios
                    <span id="spinnerUsersButton"
                          class="spinner-grow spinner-grow-sm d-none position-absolute top-50 start-0 translate-middle ms-3"
                          role="status" aria-hidden="true"></span>

                </button>
            </div>
            <div class="d-none d-xxl-block col-xxl-2">
                <button type="button" name="exit"
                        class="w-100 btn bg-color-green text-white btn-lg px-6 border-color-black mx-0 exit ">Cerrar
                    sesión
                </button>
            </div>

        </div>
        <div class="row bg-color-blue px-1 py-2 mb-2 mx-1 rounded">
            <div class="col-12 col-md 4 clients">
                <label for="clients" class="form-label mb-0 text-white">Cliente
                    <span id="spinnerClientSelect"
                          class="spinner-grow spinner-grow-sm d-none"
                          role="status" aria-hidden="true"></span>
                </label>
                <select id="clients" class="form-select form-select-mg mb-2 mt-0"></select>
            </div>
            <div class="col-12 col-md 4 installations">
                <label for="installations" class="form-label mb-0 text-white">Instalaciones
                    <span id="spinnerInstallationSelect"
                          class="spinner-grow spinner-grow-sm d-none"
                          role="status" aria-hidden="true"></span>
                </label>
                <select id="installations" class="form-select form-select-mg mb-2 mt-0"></select>
            </div>
            <div class="col-12 col-md 4 locations">
                <label for="locations" class="form-label mb-0 text-white">Localizaciones
                    <span id="spinnerLocationSelect"
                          class="spinner-grow spinner-grow-sm d-none"
                          role="status" aria-hidden="true"></span>
                </label>
                <select id="locations" class="form-select form-select-mg mb-2 mt-0"></select>
            </div>
        </div>
        <div class="row my-2 mx-1 d-flex align-items-center">
            <div class="searchContainer col-12 col-md-8 col-xxl-12 p-3 bg-color-blue rounded">
                <label for="search" class="d-none"></label>
                <input type="search" id="search" name="search" placeholder="Buscar..." class="form-control search"/>
                <span class="icon"><i class="fa-solid fa-magnifying-glass text-secondary"></i></span>
            </div>
            <div class=" col-0 col-md-4 d-none d-md-flex d-xxl-none justify-content-end align-items-center px-0">
                <button type="button" name="exit"
                        class="exit btn bg-color-green text-white btn-lg px-5 border-color-black mx-0 exit">Cerrar
                    sesión
                </button>
            </div>
        </div>
        <div class="row mt-2 mx-1">
            <div class="col px-0 ">
                <table class="table table-striped">
                    <thead class="position-relative">
                    <tr class="text-center table-secondary position-sticky sticky-top">
                        <th>ID</th>
                        <th>Posición</th>
                        <th>Elemento</th>
                        <th>Punto</th>
                        <th>Fase</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="table"></tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!--Modal cerrar sesion-->
<div class="modal fade" id="popupExit" tabindex="-1" aria-labelledby="modalExitSession" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-color-green text-white">
                <h1 class="modal-title fs-5" id="titleModal">Cerrar sesión</h1>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>¿Desea cerrar la sessión?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-color-green text-white border-1 close" data-bs-dismiss="modal">
                    Atrás
                </button>
                <button type="button" class="btn bg-color-red text-white border-1" id="exitSession">Salir</button>
            </div>
        </div>
    </div>
</div>
<!--Modal peligro-->
<div id="modalDanger" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-message">
        <div class="modal-content border-3 border-color-red">
            <div class="modal-header bg-white text-color-red border-0 py-1 px-4 pt-2">
                <div class="d-flex w-100">
                    <div>
                        <img src="../assets/images/peligro.png" alt="Modal de borrar defectos" class="icon">
                    </div>
                    <div class="w-100 d-flex align-items-center">
                        <h5 class="modal-title mx-auto fw-bold fs-5 pe-3">¿ESTÁS SEGURO?</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body text-center py-1 px-4">
                <span class="text-color-red fw-bold">Los datos se perderán de forma definitiva</span>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-evenly">
                <button type="button" id="back"
                        class="btn bg-color-green border-color-black border-1 text-white closeModal px-3 backMessage"
                        data-bs-dismiss="modal">atrás
                </button>
                <button type="button" class="btn bg-color-red border-color-black border-1 text-white closeModal px-3"
                        data-bs-dismiss="modal" id="borrar">borrar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modal Nuevos Clientes-->
<div class="modal" id="modalClients" tabindex="-1" aria-labelledby="Modal de Clientes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message modal-clients">
        <div class="modal-content bg-color-background">
            <form class="p-2">
                <div class="modal-header bg-color-background border-0 p-0">
                    <h5 class="modal-title py-1 bg-color-blue text-white w-100 text-center rounded fw-normal"
                        id="modalClientesTitle">Clientes</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="totalClients" class="form-label fw-bold mb-0 $fs-labels">Clientes
                                <span id="spinnerTotalClientsSelect"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <select id="totalClients" class="form-select form-select-mg mb-2 mt-0" size="3"
                                    aria-describedby="selector de clientes"></select>
                            <input type="hidden" id="idClient" name="idClient" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="nameNewClient" class="form-label fw-bold mb-0 $fs-labels">Nombre
                                <span id="spinnerNameNewClient"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <input type="text" id="nameNewClient" class="form-control valid"
                                   aria-describedby="Nombre del cliente"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 p-0 mt-2 pe-2">
                            <label for="zipCodeNewClient" class="form-label fw-bold mb-0 $fs-labels">C.P.
                                <span id="spinnerZipCodeNewClient"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <input type="text" id="zipCodeNewClient" class="form-control valid"
                                   aria-describedby="código postal"/>
                        </div>
                        <div class="col-3 p-0 mt-2 pe-2">
                            <label for="countryNewClient" class="form-label fw-bold mb-0 $fs-labels">País
                                <span id="spinnerCountrySelect"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <select id="countryNewClient" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de país"></select>
                        </div>
                        <div class="col-3 p-0 mt-2 pe-2">
                            <label for="provinceNewClient" class="form-label fw-bold mb-0 $fs-labels">Provincia
                                <span id="spinnerProvinceSelect"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <select id="provinceNewClient" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de provincia"></select>
                        </div>
                        <div class="col-3 p-0 mt-2">
                            <label for="municipalityNewClient"
                                   class="form-label fw-bold mb-0 $fs-labels">Localidad
                                <span id="spinnerMunicipalitySelect"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <select id="municipalityNewClient" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de localidad"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="addressNewClient" class="form-label fw-bold mb-0 $fs-labels">Dirección
                                <span id="spinnerAddressNewClient"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <input type="text" id="addressNewClient" class="form-control valid"
                                   aria-describedby="dirección del cliente"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 mt-2">
                            <label for="phoneNewClient" class="form-label fw-bold mb-0 $fs-labels">Teléfono
                                <span id="spinnerPhoneNewClient"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <input type="text" id="phoneNewClient" class="form-control valid"
                                   aria-describedby="teléfono del cliente"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 w-100 mt-2">
                            <label for="emailNewClient" class="form-label fw-bold mb-0 $fs-labels">Email
                                <span id="spinnerEmailNewClient"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <input type="email" id="emailNewClient" class="form-control valid"
                                   aria-describedby="email del cliente"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start px-0">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-4 p-0">
                            <button type="button"
                                    data-bs-dismiss="modal" id="idDeleteNewClient"
                                    class="btn bg-color-red text-white border-1 border-color-black" disabled>Eliminar
                            </button>
                        </div>
                        <div class="col-8 p-0 text-end">
                            <button type="button"
                                    id="idNewClient"
                                    class="btn bg-color-green text-white border-1 border-color-black">Aceptar
                            </button>
                            <button type="reset"
                                    class="btn bg-color-blue border-color-black border-1 text-white"
                                    id="resetNewClient">Borrar
                            </button>
                            <button type="button" id="backNewClient"
                                    data-bs-dismiss="modal"
                                    class="btn bg-color-marron text-white border-1 border-color-black">Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Nuevas Instalaciones-->
<div class="modal d-none" id="modalInstallations" tabindex="-1" aria-labelledby="Modal de Instalaciones"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message modal-installations">
        <div class="modal-content bg-color-background">
            <form class="p-2">
                <div class="modal-header bg-color-background border-0 p-0">
                    <h5 class="modal-title py-1 bg-color-blue text-white w-100 text-center rounded fw-normal"
                        id="modalInstallationsTitle">Instalaciones</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="totalInstallations"
                                   class="form-label fw-bold mb-0 $fs-labels">
                                <span id="spinnerTotalInstallations"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                                Instalaciones</label>
                            <select id="totalInstallations" class="form-select form-select-mg mb-2 mt-0" size="3"
                                    aria-describedby="selector de clientes"></select>
                            <input type="hidden" id="idInstallation" name="idInstallation" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="nameNewInstallation"
                                   class="form-label fw-bold mt-2 mb-0 $fs-labels">
                                <span id="spinnerNameNewInstallation"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                                Nombre</label>
                            <input type="text" id="nameNewInstallation" class="form-control valid"
                                   aria-describedby="Nombre del cliente" placeholder="Instalación..."/>
                        </div>
                        <div class="col p-0 ps-2 mt-2">
                            <label for="clientSelected" class="form-label fw-bold mb-0 $fs-labels">Cliente
                                <span id="spinnerClientSelected"
                                      class="spinner-grow spinner-grow-sm d-none text-white"
                                      role="status" aria-hidden="true"></span>
                            </label>
                            <select id="clientSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de cliente"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start px-0">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-4 p-0">
                            <button type="button"
                                    data-bs-dismiss="modal" id="idDeleteNewInstallation"
                                    class="btn bg-color-red text-white border-1 border-color-black" disabled>Eliminar
                            </button>
                        </div>
                        <div class="col-8 p-0 text-end">
                            <button type="button"
                                    id="idNewInstallation"
                                    class="btn bg-color-green text-white border-1 border-color-black">Aceptar
                            </button>
                            <button type="reset"
                                    class="btn bg-color-blue border-color-black border-1 text-white"
                                    id="resetNewInstallation">Borrar
                            </button>
                            <button type="button" id="backNewInstallation"
                                    data-bs-dismiss="modal"
                                    class="btn bg-color-marron text-white border-1 border-color-black">Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Nuevas Localizaciones-->
<div class="modal d-none" id="modalLocations" tabindex="-1" aria-labelledby="Modal de Localizaciones"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message modal-locations">
        <div class="modal-content bg-color-background">
            <form class="p-2">
                <div class="modal-header bg-color-background border-0 p-0">
                    <h5 class="modal-title py-1 bg-color-blue text-white w-100 text-center rounded fw-normal"
                        id="modalLocationTitle">Localizaciones</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="totalLocations" class="form-label fw-bold mb-0 fs-labels">Localizaciones
                                <span id="spinnerTotalLocations"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="totalLocations" class="form-select form-select-mg mb-2 mt-0 w-100" size="3"
                                    aria-describedby="selector de clientes"></select>
                            <input type="hidden" id="idLocation" name="idLocation" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="nameNewLocation" class="form-label fw-bold mt-2 mb-0 fs-labels">Nombre</label>
                            <input type="text" id="nameNewLocation" class="form-control valid w-100"
                                   aria-describedby="Nombre de la localización" placeholder="Localización..."/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 mt-2">
                            <label for="clientsSelected"
                                   class="form-label fw-bold mb-0 $fs-labels">Clientes
                                <span id="spinnerClientsSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="clientsSelected" class="form-select form-select-mg mb-2 mt-0 w-100"
                                    aria-describedby="selector del cliente"></select>
                        </div>
                        <div class="col p-0 ps-2 mt-2">
                            <label for="installationSelected"
                                   class="form-label fw-bold mb-0 $fs-labels">Instalaciones
                                <span id="spinnerInstallationsSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="installationSelected" class="form-select form-select-mg mb-2 mt-0 w-100"
                                    aria-describedby="selector de la Instalación"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start px-0">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-4 p-0">
                            <button type="button"
                                    data-bs-dismiss="modal" id="idDeleteNewLocation"
                                    class="btn bg-color-red text-white border-1 border-color-black" disabled>Eliminar
                            </button>
                        </div>
                        <div class="col-8 p-0 text-end">
                            <button type="button"
                                    id="idNewLocation"
                                    class="btn bg-color-green text-white border-1 border-color-black">Aceptar
                            </button>
                            <button type="reset"
                                    class="btn bg-color-blue border-color-black border-1 text-white"
                                    id="resetNewLocation">Borrar
                            </button>
                            <button type="button" id="backNewLocation"
                                    data-bs-dismiss="modal"
                                    class="btn bg-color-marron text-white border-1 border-color-black">Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Nuevas Posiciones-->
<div class="modal d-none" id="modalPositions" tabindex="-1" aria-labelledby="Modal de Posiciones" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message modal-positions">
        <div class="modal-content bg-color-background">
            <form class="p-2">
                <div class="modal-header bg-color-background border-0 p-0">
                    <h5 class="modal-title py-1 bg-color-blue text-white w-100 text-center rounded fw-normal"
                        id="modalPositionTitle">Posiciones</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="totalPositions" class="form-label fw-bold mb-0 fs-labels">Posiciones
                                <span id="spinnerTotalPositions"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="totalPositions" class="form-select form-select-mg mb-2 mt-0" size="3"
                                    aria-describedby="selector de posiciones"></select>
                            <input type="hidden" id="idPosition" name="idPosition" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="nameNewPosition" class="form-label fw-bold mt-2 mb-0 fs-labels">Nombre</label>
                            <input type="text" id="nameNewPosition" class="form-control valid"
                                   aria-describedby="Nombre de la posición" placeholder="Posición..."/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 p-0 m-0 pe-1">
                            <label for="clientPositionsSelected" class="form-label fw-bold mb-0 fs-labels">Cliente
                                <span id="spinnerClientPositionsSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="clientPositionsSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de la Localización"></select>

                        </div>
                        <div class="col-6 p-0 m-0 ps-1">
                            <label for="installationPositionsSelected" class="form-label fw-bold mb-0 fs-labels">Instalación
                                <span id="spinnerInstallationPositionsSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="installationPositionsSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de la Localización"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-0 mt-2 pe-1">
                            <label for="locationSelected" class="form-label fw-bold mb-0 fs-labels">Localización
                                <span id="spinnerLocationSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="locationSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de la Localización"></select>
                        </div>
                        <div class="col-3 p-0 mt-2 px-1">
                            <label for="elementSelected" class="form-label fw-bold mb-0 fs-labels">Elemento
                                <span id="spinnerElementSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="elementSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de elemento"></select>
                        </div>
                        <div class="col-1 p-0 m-0">
                            <label for="IEPosition" class="form-label fw-bold mt-2 mb-0 fs-labels w-100 text-center">I/E</label>
                            <input type="text" id="IEPosition" class="form-control valid"
                                   aria-describedby="Tipo de posición"/>
                        </div>
                        <div class="col-2 p-0 m-0 ps-1">
                            <label for="tensionPosition" class="form-label fw-bold mt-2 mb-0 fs-labels">Tensión</label>
                            <input type="text" id="tensionPosition" class="form-control valid"
                                   aria-describedby="Tensión de la posición"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 p-0 pe-2 m-0">
                            <label for="pointPosition" class="form-label fw-bold mt-2 mb-0 fs-labels">Punto</label>
                            <textarea id="pointPosition" class="form-control valid" rows="3"
                                      aria-describedby="Punto de la posición"
                                      placeholder="Punto Caliente..."></textarea>
                        </div>
                        <div class="col-4 p-0 m-0">
                            <label for="fasePosition" class="form-label fw-bold mt-2 mb-0 fs-labels">Fase</label>
                            <textarea id="fasePosition" class="form-control valid" rows="3"
                                      aria-describedby="Fase de la posición" placeholder="Fase..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start px-0">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-4 p-0">
                            <button type="button"
                                    data-bs-dismiss="modal" id="idDeleteNewPosition"
                                    class="btn bg-color-red text-white border-1 border-color-black" disabled>Eliminar
                            </button>
                        </div>
                        <div class="col-8 p-0 text-end">
                            <button type="button"
                                    id="idNewPosition"
                                    class="btn bg-color-green text-white border-1 border-color-black">Aceptar
                            </button>
                            <button type="reset"
                                    class="btn bg-color-blue border-color-black border-1 text-white"
                                    id="resetNewPosition">Borrar
                            </button>
                            <button type="button" id="backNewPosition"
                                    data-bs-dismiss="modal"
                                    class="btn bg-color-marron text-white border-1 border-color-black">Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Nuevos Usuarios-->
<div class="modal d-none" id="modalUsers" tabindex="-1" aria-labelledby="Modal de Usuarios" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message modal-users">
        <div class="modal-content bg-color-background">
            <form class="p-2">
                <div class="modal-header bg-color-background border-0 p-0">
                    <h5 class="modal-title py-1 bg-color-blue text-white w-100 text-center rounded fw-normal"
                        id="modalUserTitle">Usuarios</h5>
                </div>
                <div id="spinnerUpdateUser"
                     class="v-100 h-100 d-flex justify-content-center align-items-center bg-color-background d-none p-5">
                    <div class="spinner-border text-color-green" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                    <div class="ms-3 fw-bold fs-3 text-color-marron">Cargando...</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="totalUsers" class="form-label fw-bold mb-0 fs-labels">Usuarios
                                <span id="spinnerTotalUsers"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="totalUsers" class="form-select form-select-mg mb-2 mt-0" size="3"
                                    aria-describedby="selector de usuarios"></select>
                            <input type="hidden" id="idUser" name="idPosition" value="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 m-0">
                            <label for="nameNewUser" class="form-label fw-bold mt-2 mb-0 fs-labels">Nombre</label>
                            <input type="text" id="nameNewUser" class="form-control valid"
                                   aria-describedby="Nombre del usuario" placeholder="Usuario..."/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 p-0 m-0 pe-1">
                            <label for="passwordNewUser" class="form-label fw-bold mb-0 fs-labels">Contraseña</label>
                            <input type="text" id="passwordNewUser" class="form-control valid"
                                   aria-describedby="Contraseña del usuario" placeholder="Contraseña..."/>
                        </div>
                        <div class="col-6 p-0 m-0 ps-2">
                            <label for="roleUsersSelected" class="form-label fw-bold mb-0 fs-labels">Rol
                                <span id="spinnerRoleUsersSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="roleUsersSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector del rol"></select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 p-0 m-0 pe-1">
                            <label for="clientsUserSelected" class="form-label fw-bold mb-0 fs-labels">Clientes
                                <span id="spinnerClientsUserSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="clientsUserSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de la Localización"></select>
                        </div>
                        <div class="col-6 p-0 m-0 ps-2">
                            <label for="installationsUserSelected" class="form-label fw-bold mb-0 fs-labels">Instalaciones
                                <span id="spinnerInstallationsUserSelected"
                                      class="spinner-grow spinner-grow-sm text-white d-none d-none"
                                      role="status"></span>
                            </label>
                            <select id="installationsUserSelected" class="form-select form-select-mg mb-2 mt-0"
                                    aria-describedby="selector de elemento"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-start px-0">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-3 p-0 pe-3">
                            <button type="button"
                                    id="idDeleteNewUser"
                                    class="btn bg-color-red text-white border-1 border-color-black" disabled>Eliminar
                            </button>
                        </div>
                        <div class="col-9 p-0 text-end">
                            <button type="button"
                                    id="idNewUser"
                                    class="btn bg-color-green text-white border-1 border-color-black">Aceptar
                            </button>
                            <button type="reset"
                                    class="btn bg-color-blue border-color-black border-1 text-white"
                                    id="resetNewUser">Borrar
                            </button>
                            <button type="button" id="backNewUser"
                                    data-bs-dismiss="modal"
                                    class="btn bg-color-marron text-white border-1 border-color-black">Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal de Información-->
<div id="modalInfo" class="modal fade" tabindex="-1" aria-labelledby="Modal de información" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-message">
        <div class="modal-content border-3 border-color-blue">
            <div class="modal-header bg-white text-color-marron border-0 py-1 px-4 pt-2">
                <div class="d-flex w-100">
                    <div>
                        <img src="../assets/images/info.webp" alt="Modal de información" class="icon">
                    </div>
                    <div class="w-100 d-flex align-items-center">
                        <h5 id="idTitleModalInfo" class="modal-title mx-auto fw-bold fs-5 pe-3 ms-2"></h5>
                    </div>
                </div>
            </div>
            <div class="modal-body text-center py-1 px-4">
                <span id="idMessageModalInfo" class="text-color-marron fw-bold"></span>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-evenly">
                <button type="button" id="backInfo"
                        class="btn bg-color-green border-color-black border-1 text-white closeModal px-3"
                        data-bs-dismiss="modal">aceptar
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>