<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thermworksheet</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href=../assets/css/operator.css>
    <script type="module" src="../assets/js/operator.js" defer></script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>
<body>
<main class="container-fluid d-flex flex-column vh-100 bg-color-background">
    <div class="row my-1">
        <div class="col d-flex flex-row justify-content-evenly bg-color-background pt-2 pb-2">
            <button id="client" name="client" class="btn bg-color-black text-white px-5">Cliente</button>
            <button id="installation" name="client" class="btn bg-color-black text-white px-5">Instalación</button>
            <button id="location" name="client" class="btn bg-color-black text-white px-5">Localización</button>
            <button id="position" name="client" class="btn bg-color-black text-white px-5">Posición</button>
        </div>
    </div>
    <div class="row bg-color-blue px-1 py-2 mb-2 mx-1 rounded">
        <div class="col clients">
            <label for="clients" class="form-label mb-0">Cliente</label>
            <select id="clients" class="form-select form-select-mg mb-2 mt-0"></select>
        </div>
        <div class="col installations">
            <label for="installations" class="form-label mb-0">Instalaciones</label>
            <select id="installations" class="form-select form-select-mg mb-2 mt-0"></select>
        </div>
        <div class="col locations">
            <label for="locations" class="form-label mb-0">Localizaciones</label>
            <select id="locations" class="form-select form-select-mg mb-2 mt-0"></select>
        </div>
    </div>
    <div class="row my-2 mx-1 d-flex align-items-center">
        <div class="searchContainer col-8 p-3 bg-color-blue rounded">
            <input type="text" id="search" name="search" placeholder="Buscar..." class="form-control search"/>
            <span class="icon"><i class="fa-solid fa-magnifying-glass text-secondary"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center px-0">
            <button type="button" name="exit" id="exit"
                    class="btn bg-color-green text-white btn-lg px-5 border-color-black mx-0 exit">Cerrar sesión
            </button>
        </div>
    </div>
    <div class="row mt-2 mx-1">
        <table class="col table table-striped table-hover table-sm">
            <thead>
            <tr class="text-center table-secondary">
                <th>ID</th>
                <th>Posición</th>
                <th>Elemento</th>
                <th>Punto</th>
                <th>Fase</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table" class="overflow-auto"></tbody>
        </table>
    </div>
    <div id="popupClients" class="modal text-black" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title ms-3">Ha ocurrido un error</h5>
                    <button type="button" class="btn-close closeModal" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="errorLogin"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>