<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thermworksheet</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=../assets/css/operator.css>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <script type="module" src="../assets/js/operator.js" defer></script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>
<body>
<main>
    <div>
        <select id="clients" class="form-select form-select-lg mb-3"></select>
        <select id="installations" class="form-select form-select-lg mb-3"></select>
        <select id="locations" class="form-select form-select-lg mb-3"></select>
    </div>
    <div>

    </div>
</main>
</body>
</html>